<h1>{{ document }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Title</h3>
{% for title in document.title.all %}
    <label for="choice{{ forloop.counter }}">{{ title.name }}</label><br />
{% endfor %}

<h3>Description</h3>
<label>{{ document.description }}</label><br />

<h3>Date</h3>
{% for date in document.date.all %}
    <label for="choice{{ forloop.counter }}">{{ date.name }}</label><br />
{% endfor %}

<h3>Location</h3>
{% for location in document.location.all %}
    <label for="choice{{ forloop.counter }}">{{ location.name }}</label><br />
{% endfor %}

<h3>Genres</h3>
{% for genre in document.genres.all %}
	<label>{{ genre.name }}</label><br />
{% endfor %}

<h3>Artists</h3>
{% for artist in document.artists.all %}
	<label>{{ artist.name }}</label><br />
{% endfor %}

<h3>Tags</h3>
{% for tag in document.tags.all %}
    <label for="choice{{ forloop.counter }}">{{ tag.name }}</label><br />
{% endfor %}

<h3>Urls</h3>
{% for url in document.urls.all %}
	<label>{{ url.name }}</label><br />
{% endfor %}

<h3>ImageUrls</h3>
{% for imageUrl in document.imageUrls.all %}
	<label>{{ imageUrl.name }}</label><br />
{% endfor %}