
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.logo {
  margin-top: -5px;
}
.searchfield {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.processtime {
  padding-top: 5px !important;
}

.resultrow {
  background: #f4f4f4;
}

.homecontainer {
  padding-top: 100px;
}


.imagecontainer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.imageCombiner {
  position: relative;  
  width: 165px;
  height: 165px;
}
.defaultImage, .eventImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.eventImage {
  z-index: 10;
}

.showdetails {  
    margin-top: 10px;
    text-align: right;
}

.extendedquery {
  color: #777;
  font-size: 14px;
}

.suggestionsContainer {
  background: #f4f4f4;  
}

.suggestionsHeader {
  color: #777;
  font-size: 22px;  
}

.suggestion {
  padding-bottom: 10px;
}

